body{
    background: linear-gradient(90deg, #b7b78a 50%, #3c6255 50%);
}
.navbar{
    display: flex;
}
.container{
    margin-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-top: -39px;
   
    
  }
  
  .navbar-logo img {
   
    width: 200px;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-left: 10px;
  }
  
  .navbar-menu li:first-child {
    margin-left: 0;
  }
  
  .navbar-menu li a {
    color: #333;
    text-decoration: none;
    padding: 15px;
    padding-right: 38px;
    font-size: 1.55rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    cursor: pointer;
  }
  .navbar-menu li a:hover{
    color: red;
    transition: 0.3 ease-in;
  }

  .hero-img{
    width: 70vh;
    padding-bottom: 30px;
    margin-left: 140px;
    padding-top: 70px;
  }
  .hero-img:hover{
    cursor: pointer;
    transition: 0.7 ease;
  }
  .hero-section{
    background-color: rgb(255 249 235);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  h1{
    font-size: 4.5rem;
    color: #020284;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  p{
    font-size:1.5rem;
    font-family: cursive;
    color: #6a2889;
  }
  h3{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: -55px;
    font-size: 2rem;
    margin-left: 10px;
    color:  #c10000;
  }
  .btn{
    background-color: rgb(12 142 12);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
  }
  .btn:hover{
    font-size: 1rem;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
    background-color: #b7b78a;
    color: white;
    background-color: rgb(18, 189, 18);
  }


  /* Small Images Styles */
  .small-images {
    display: flex;
    justify-content: center;
    padding: 40px;
    cursor: pointer;
  }

  .small-image {
    margin: 0 10px;
    width: 150px;
    height: 150px;
    transition: transform 0.3s;
  }

  .small-image:hover {
    transform: scale(1.6);
  }
  .small-images{
    background-color: rgb(255 249 235);

  }
  
  .vertical-line {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 329px;
    margin-bottom: 79px;
    width: 7px;
    border-radius: 80px;
    background-color:#9c600c;
    left: 50%;
    transform: translateX(-50%);
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
 /* max-width: 960px; */
  margin: 0 auto;
  padding: 40px;
  background-color: white;
}

.product-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.product {
  /* flex-basis: calc(33.33% - 10px); */
  margin-bottom: 10px;
}

.product img {
  width: 50vh;
  height: auto;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.product-content{
justify-content: center;
text-align: center;
}
.product-h1{
font-size: 1.2rem;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bolder;


}
.product-h3{
font-size: 0.85rem;
font-weight: bold;
margin-bottom: -10px;

}
.footer-p{
  color: white;
}
.product-btn{
background-color: #04bc04;
padding-right: 30px;
padding-left: 30px;
padding-top: 10px;
padding-bottom: 10px;
color: white;
border: none;
font-weight: 600;
}
.product-btn:hover{
cursor: pointer;
padding-right: 40px;
padding-left: 40px;
background-color: greenyellow;
color: black;
}
.top-h1{
  color: white;
}

.inquiry-section {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.inquiry-form {
  flex-basis: 50%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}
.inquiry-h2{
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-group input,
.form-group textarea {
  width: 60%;
  padding: 17px;
  font-size: 16px;
  border-radius: 18px;
  border: 3px solid #ccc;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.form-group button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.info-col {
  flex-basis: 50%;
  padding-left: 40px;
}

.info-col .info-h3{
  font-size: 3rem;
  color: #333;
  margin-bottom: 3px;
}

.info-col .info-p {
  font-size: 1.1rem;
  color: #666;
  padding-top: 20px;
}

.inq-btn{
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: green;
  color: white;
  border: none;
  font-weight: 400;
}
.inq-btn:hover{
  cursor: pointer;
  background-color: rgb(11, 184, 11);

}

.last-hr{
  margin-left: 115px;
  margin-right: 286px;
  border: 4px solid red;
  border-radius: 10px;
  margin-top: 20px;
}
